/**
 * @description 动画样式scss 支持nvue、h5(vue)、小程序
 * 调用方式  按需引入
 * @example
   <!-- 淡入效果 -->
  <view class="text-area jasper-animate jasper-fade-in" style="margin-top: 20px">
    <p>这是淡入动画效果。</p>
  </view>

  <!-- 从上方淡入效果 -->
  <view class="text-area jasper-animate jasper-fade-in-down" style="margin-top: 20px">
    <p>这是从上方淡入动画效果。</p>
  </view>

  <!-- 无限循环的淡入效果 -->
  <view class="text-area jasper-animate jasper-fade-in infinite" style="margin-top: 20px">
    <p>这是无限循环的淡入效果。</p>
  </view>
 */
.jasper-animate{
	animation-duration: 1s;
	animation-fill-mode: both;
	&.infinite{
		animation-iteration-count: infinite;
	}
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.jasper-fade-in {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.jasper-fade-in-down {
  animation-name: fadeInDown;
}

@keyframes fadeInDownSm {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.jasper-fade-in-down-sm {
  animation-name: fadeInDownSm;
}

@keyframes fadeInDownLg {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.jasper-fade-in-down-lg {
  animation-name: fadeInDownLg;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.jasper-fade-in-left {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeftSm {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.jasper-fade-in-left-sm {
  animation-name: fadeInLeftSm;
}

@keyframes fadeInLeftLg {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.jasper-fade-in-left-lg {
  animation-name: fadeInLeftLg;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.jasper-fade-in-right {
  animation-name: fadeInRight;
}

@keyframes fadeInRightSm {
  from {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.jasper-fade-in-right-sm {
  animation-name: fadeInRightSm;
}

@keyframes fadeInRightLg {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.jasper-fade-in-right-lg {
  animation-name: fadeInRightLg;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.jasper-fade-in-up {
  animation-name: fadeInUp;
}

@keyframes fadeInUpSm {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.jasper-fade-in-up-sm {
  animation-name: fadeInUpSm;
}

@keyframes fadeInUpLg {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.jasper-fade-in-up-lg {
  animation-name: fadeInUpLg;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.jasper-fade-out {
  animation-name: fadeOut;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.jasper-fade-out-down {
  animation-name: fadeOutDown;
}

@keyframes fadeOutDownSm {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
}

.jasper-fade-out-down-sm {
  animation-name: fadeOutDownSm;
}

@keyframes fadeOutDownLg {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.jasper-fade-out-down-lg {
  animation-name: fadeOutDownLg;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.jasper-fade-out-left {
  animation-name: fadeOutLeft;
}

@keyframes fadeOutLeftSm {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
}

.jasper-fade-out-left-sm {
  animation-name: fadeOutLeftSm;
}

@keyframes fadeOutLeftLg {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.jasper-fade-out-left-lg {
  animation-name: fadeOutLeftLg;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.jasper-fade-out-right {
  animation-name: fadeOutRight;
}

@keyframes fadeOutRightSm {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
}

.jasper-fade-out-right-sm {
  animation-name: fadeOutRightSm;
}

@keyframes fadeOutRightLg {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.jasper-fade-out-right-lg {
  animation-name: fadeOutRightLg;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.jasper-fade-out-up {
  animation-name: fadeOutUp;
}

@keyframes fadeOutUpSm {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
}

.jasper-fade-out-up-sm {
  animation-name: fadeOutUpSm;
}

@keyframes fadeOutUpLg {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.jasper-fade-out-up-lg {
  animation-name: fadeOutUpLg;
}

@keyframes zoomInSm {
  from {
    opacity: 0;
    transform: scale(0.3) translateZ(0);
  }
  50% {
    opacity: 1;
  }
}

.jasper-zoom-in-sm {
  transform:translateZ(0);
  z-index: 1;
  animation-name: zoomInSm;
}

@keyframes zoomOutSm {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale(0.3) translateZ(0);
  }
  to {
    opacity: 0;
  }
}

.jasper-zoom-out-sm {
  transform:translateZ(0);
  z-index: 1;
  animation-name: zoomOutSm;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform:translateZ(0) scale(1.1,1.1);
  }


  50% {
    transform:translateZ(0) scale(1, 1);
    opacity: 1;
  }
}

.jasper-zoom-in {
  transform:translateZ(0);
  animation-name: zoomIn;
  z-index: 1;
}


@keyframes zoomOut {
  from {
    -webkit-font-smoothing: subpixel-antialiased;
    opacity: 1;
    transform:translateZ(0) scale(1, 1);
  }
  50% {
    -webkit-font-smoothing: subpixel-antialiased;
    opacity: 0;
    transform: translateZ(0) scale(1.1, 1.1);
  }
  to {
    -webkit-font-smoothing: subpixel-antialiased;
    opacity: 0;
    transform:translateZ(0) scale(1, 1);
  }
}

.jasper-zoom-out {
  transform:translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  animation-name: zoomOut;
  z-index: 1;
}

@keyframes circle {
  from{
    transform: rotate(-360deg) translateZ(0);
  }
  to{
    transform: rotate(0) translateZ(0);
  }
}

.jasper-circle{
  transform: translateZ(0);
  animation-timing-function: linear;
  animation-name: circle;
}

@keyframes slideDown {
  from{
    transform : scaleY(0);
  }
  to{
    transform : scaleY(1);
  }
}

.jasper-slide-down{
  transform-origin: 0 0;
  animation-name: slideDown;
}

@keyframes slideUp {
  from{
    transform : scaleY(1);
  }
  to{
    transform : scaleY(0);
  }
}

.jasper-slide-up{
  transform-origin: 0 0;
  animation-name: slideUp;
}
