//#ifdef VUE3
@use "sass:math";  // 引入 math 模块
//#endif
/**
 * @description 动态 行间距、边距、边框、字号、文字间距、首行头间距、层级、宽度、高度、透明度、圆角 变量设置scss
   不支持nvue
 * 调用方式  全局引入
 */

//定义一个方向数组
$direction: top, right, bottom, left;

/* 宽度 高度 */
$w:0 ;
@while $w <= 300 {
	@if $w <= 100 {
		.jasper-w#{$w}p{
			width: $w*1%;
		}
		.jasper-h#{$w}p{
			height: $w*1%;
		}
		.jasper-w#{$w}{
			width: $w*2rpx;
		}
		.jasper-h#{$w}{
			height: $w*2rpx;
		}
		@if $w == 100 {
			.jasper-wh#{$w}p{
				width: 100%;
				height: 100%;
			}
			.jasper-ww{
				width: 100vw;
			}
			.jasper-hh{
				height: 100vh;
			}
		}
	}
	.jasper-w#{$w}{
		width: $w*2rpx;
	}
	.jasper-h#{$w}{
		height: $w*2rpx;
	}
	@if $w < 10 {
		$w : $w + 1 ;
	} @else{
		$w : $w + 5 ;
	}
}


/* 字号 */
@for $fz from 12 through 50 {
	.jasper-fz#{$fz}{
		font-size: $fz*2rpx !important;
	}
}

/* 行间距 */
@for $lh from 1 through 11 {
	.jasper-lh#{$lh}{
		line-height: 1 + ($lh - 1) * 0.1 !important;
	}
}

@for $lh from 12 through 50 {
	.jasper-lh#{$lh}{
		line-height: $lh*2rpx !important;
	}
}

/* 文字间距 */
@for $ls from 1 through 10 {
	@if $ls == 1{
		.jasper-ls{
			letter-spacing: 2rpx !important;
		}
	} @else {
		.jasper-ls#{$ls}{
			letter-spacing: $ls*2rpx !important;
		}
	}
}


/* 边距 - 覆盖顺序是小的尺寸覆盖大的尺寸 少的方向覆盖多的方向 - start */
$s : 200 ;
@while $s >= 0 {
	.jasper-pd#{$s}{
		padding: $s*2rpx!important;
	}
	.jasper-m#{$s}{
		margin: $s*2rpx!important;
	}
	@if $s == 15 {
		.jasper-pd{
			padding: 30rpx!important;
		}
		.jasper-m{
			margin: 30rpx!important;
		}
	}
	@if $s <= 10 {
		$s : $s - 1 ;
	} @else{
		$s : $s - 5 ;
	}
}

$s : 200 ;
@while $s >= 0 {
	.jasper-ptb#{$s}{
		padding-top: $s*2rpx!important;
		padding-bottom: $s*2rpx!important;
	}
	.jasper-plr#{$s}{
		padding-left: $s*2rpx!important;
		padding-right: $s*2rpx!important;
	}
	.jasper-mtb#{$s}{
		margin-top: $s*2rpx!important;
		margin-bottom: $s*2rpx!important;
	}
	.jasper-mlr#{$s}{
		margin-left: $s*2rpx!important;
		margin-right: $s*2rpx!important;
	}
	@if $s == 15 {
		.jasper-ptb{
			padding-top: 30rpx!important;
			padding-bottom: 30rpx!important;
		}
		.jasper-plr{
			padding-left: 30rpx!important;
			padding-right: 30rpx!important;
		}

		.jasper-mlr{
			margin-left: 30rpx!important;
			margin-right: 30rpx!important;
		}
		.jasper-mtb{
			margin-top: 30rpx!important;
			margin-bottom: 30rpx!important;
		}
	}
	@if $s <= 10 {
		$s : $s - 1 ;
	} @else{
		$s : $s - 5 ;
	}
}

$s : 200 ;
@while $s >= 0 {
	.jasper-pl#{$s}{
		padding-left: $s*2rpx!important;
	}
	.jasper-pr#{$s}{
		padding-right: $s*2rpx!important;
	}
	.jasper-pt#{$s}{
		padding-top: $s*2rpx!important;
	}
	.jasper-pb#{$s}{
		padding-bottom: $s*2rpx!important;
	}
	.jasper-ml#{$s}{
		margin-left: $s*2rpx!important;
	}
	.jasper-mr#{$s}{
		margin-right: $s*2rpx!important;
	}
	.jasper-mt#{$s}{
		margin-top: $s*2rpx!important;
	}
	.jasper-mb#{$s}{
		margin-bottom: $s*2rpx!important;
	}
	@if $s == 15 {
		.jasper-pt{
			padding-top: 30rpx!important;
		}
		.jasper-pb{
			padding-bottom: 30rpx!important;
		}
		.jasper-pl{
			padding-left: 30rpx!important;
		}
		.jasper-pr{
			padding-right: 30rpx!important;
		}
		.jasper-mt{
			margin-top: 30rpx!important;
		}
		.jasper-mr{
			margin-right: 30rpx!important;
		}
		.jasper-ml{
			margin-left: 30rpx!important;
		}
		.jasper-mb{
			margin-bottom: 30rpx!important;
		}
	}
	@if $s <= 10 {
		$s : $s - 1 ;
	} @else{
		$s : $s - 5 ;
	}
}

/* 边距 - 覆盖顺序是小的尺寸覆盖大的尺寸 少的方向覆盖多的方向 - end */


/* 透明度 - start */
@for $op from 0 through 10 {
	.jasper-op#{$op}{
		opacity: $op * 0.1!important;
	}
	.jasper-bgc-p#{$op}{
		background-color: rgba(#000,$op*0.1);
	}
	@if $op == 5 {
		.jasper-bgc-p{
			background-color: rgba(#000,0.5);
		}
	}
}

/* 透明度 - end */

/* z-index 层级 - start */
@for $i from 0 through 20 {
	.jasper-z-index-#{$i}{
		z-index: $i !important;
	}
}

/* z-index 层级 - end */


/* 首行头间距 - start */
@for $i from 0 through 20 {
	@if $i == 0 {
		.jasper-ti0{
			text-indent: 0;
		}
	} @else {
		.jasper-ti#{$i}{
			text-indent: $i*2rpx;
		}
	}
}
/* 首行头间距 - end */

/* 边框(边线、实线、虚线) - start */
.jasper-bdn{
	border: none;
}
.jasper-bd{
	border: 1px solid $jasper-border-1;
	&.dashed{
		border-style: dashed;
	}
}
.jasper-bt{
	border-top:1px solid $jasper-border-1;
	&.dashed{
		border-top-style: dashed;
	}
}
.jasper-bb{
	border-bottom:1px solid $jasper-border-1;
	&.dashed{
		border-bottom-style: dashed;
	}
}
.jasper-bl{
	border-left:1px solid $jasper-border-1;
	&.dashed{
		border-left-style: dashed;
	}
}
.jasper-br{
	border-right: 1px solid $jasper-border-1;
	&.dashed{
		border-right-style: dashed;
	}
}

$unc:2;
@while $unc <= 10 {
	.jasper-bd#{$unc}{
		border: #{$unc}px solid $jasper-border-1;
		&.dashed{
			border-style: dashed;
		}
	}
	.jasper-bt#{$unc}{
		border-top:#{$unc}px solid $jasper-border-1;
		&.dashed{
			border-top-style: dashed;
		}
	}
	.jasper-bb#{$unc}{
		border-bottom:#{$unc}px solid $jasper-border-1;
		&.dashed{
			border-bottom-style: dashed;
		}
	}
	.jasper-bl#{$unc}{
		border-left:#{$unc}px solid $jasper-border-1;
		&.dashed{
			border-left-style: dashed;
		}
	}
	.jasper-br#{$unc}{
		border-right: #{$unc}px solid $jasper-border-1;
		&.dashed{
			border-right-style: dashed;
		}
	}
	$unc : $unc + 1 ;
}

/* 边框(边线、实线、虚线) - end */

/* 缩放 */
@for $scale from 1 through 20 {
	.jasper-scale#{$scale}{
		transform: scale(0.1 * $scale );
	}
}

/* 旋转 */
$deg:-180 ;
@while $deg <= 180 {
	.jasper-rotate#{$deg}{
		transform: rotate($deg * 1deg);
	}
	$deg : $deg + 15 ;
}


/* 圆角 */
.jasper-radius,.jasper-rds{
	-webkit-border-radius: 100%!important;
	-moz-border-radius: 100%!important;
	border-radius: 100%!important;
}

$r:0;
@while $r <= 50{
	.jasper-rds#{$r},.jasper-radius#{$r}{
		border-radius:$r*2rpx!important;
	}
	$r : $r + 1;
}

.jasper-rds-tl{
	border-top-left-radius:100%!important;
}
.jasper-rds-tr{
	border-top-right-radius: 100%!important;
}
.jasper-rds-bl{
	border-bottom-left-radius: 100%!important;
}
.jasper-rds-br{
	border-bottom-right-radius: 100%!important;
}
.jasper-rds-l{
	border-top-left-radius:100%!important;
	border-bottom-left-radius: 100%!important;
}
.jasper-rds-r{
	border-top-right-radius: 100%!important;
	border-bottom-right-radius: 100%!important;
}
.jasper-rds-t{
	border-top-left-radius:100%!important;
	border-top-right-radius: 100%!important;
}
.jasper-rds-b{
	border-bottom-right-radius: 100%!important;
	border-bottom-left-radius: 100%!important;
}

$r:0;
@while $r <= 50{
	.jasper-rds-tl#{$r}{
		border-top-left-radius: $r*2rpx!important;
	}
	.jasper-rds-tr#{$r}{
		border-top-right-radius: $r*2rpx!important;
	}
	.jasper-rds-bl#{$r}{
		border-bottom-left-radius: $r*2rpx!important;
	}
	.jasper-rds-br#{$r}{
		border-bottom-right-radius: $r*2rpx!important;
	}
	.jasper-rds-l#{$r}{
		border-top-left-radius:$r*2rpx!important;
		border-bottom-left-radius: $r*2rpx!important;
	}
	.jasper-rds-r#{$r}{
		border-top-right-radius: $r*2rpx!important;
		border-bottom-right-radius: $r*2rpx!important;
	}
	.jasper-rds-t#{$r}{
		border-top-left-radius:$r*2rpx!important;
		border-top-right-radius: $r*2rpx!important;
	}
	.jasper-rds-b#{$r}{
		border-bottom-right-radius: $r*2rpx!important;
		border-bottom-left-radius: $r*2rpx!important;
	}
	$r : $r + 1;
}

/* 正方形&长方形 */
[class^="jasper-square"] , [class*=" jasper-square"]{
	width: 100%;
	position: relative;
	height: auto;
	>.item,>image,>view,>navigator,>text,>button{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&.abs{
			width: auto;
			height: auto;
		}
	}
}

$p : 200 ;
@while $p > 0 {
	.jasper-square#{$p}{
		padding-top: $p*1%;
	}
	@if $p == 100 {
		.jasper-square{
			padding-top: 100%;
		}
	}
	$p : $p - 5 ;
}

$i:1 ;
@for $i from 1 through 24 {
	.jasper-grid-item-column#{$i}{
		//#ifdef VUE2
		width: percentage(1/$i);
		//#endif
		//#ifdef VUE3
		width: math.percentage(math.div(1, $i));
		//#endif
	}
}